@media screen and (min-width:100px) and (max-width:737px) {
  #colornumber {
    font-size: 25px;
    margin-left: -35px;
  }
  #rgbnumber {
    font-size: 25px;
    margin-left: -30px;
  }
  #name {
    font-size: 14px;
  }
  .content {
    left: 50%;
  }
  .rgbnumberwrap {
    margin-left: -45px;
  }
  .footer {
    display: none;
  }
  #help_key {
    font-size: 14px;
    margin-left: -38px;
  }
  button {
    padding: 10px 50px;
    font-size: 10px;
    left: 40%;
  }

}

@media screen and (min-width: 100px) and (max-width:420px) {
button {
  display: none;
}
}

@media screen and (min-width:738px) and (max-width:1920px) {
  #rgbnumber {
    font-size: 50px;
  }
  #colornumber {
    font-size: 50px;
  }
  #name {
    font-size: 20px;
  }
  .content {
    left: 45%;
  }
  .rgbnumberwrap {
    margin-left: -78px;
  }
  button {
    padding: 15px 78px;
    font-size: 16px;
    left: 45%;
  }
  #help_key {
    font-size: 20px;
  }
}

@font-face {
    font-family: "Roboto Thin";
    src: url(../fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: "Roboto Light";
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: "Roboto Regular";
    src: url(../fonts/Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

#colornumber {
    font-family: "Roboto Thin";
}

.content {
    position: absolute;
    top: 45%;
  /*  left: 45%; */
}

button, button::after {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.btn {
    position: absolute;
}

button {
    top: 70%;
    background: none;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    margin: 1em auto;
    position: relative;
    text-transform: uppercase;
    font-family: "Roboto Regular";
}

button::before, button::after {
    background: #fff;
    content: '';
    position: absolute;
    z-index: -1;
}

button:hover {
    color: #000;
    font-family: "Roboto Regular"
}

.btn::after {
    height: 0;
    left: 0;
    top: 0;
    width: 100%;
}

.btn:hover:after {
    height: 100%;
}

button, button:active, button:focus {
    outline: none;
}

#name {
    font-family: "Roboto Light";
    position: absolute;
    left: 1%;
    top: 1%;
}

#help_key {
    position: absolute;
    font-family: "Roboto Light";
    left: 43%;
    top: 67%;
}

.footer a {
    text-decoration: none;
    color: #000;
    font-family: "Roboto Light";
    position: absolute;
    top: 96%;
    left: 3%;
    font-size: 15px;
}

.footer i {
    position: absolute;
    top: 96%;
    left: 1%;
}

/*.rgbnumberwrap {
  margin-left: -78px;
} */

#rgbnumber {
  font-family: "Roboto Thin";
  left: 20%;
}

body {
  transition: 2s;
}
